.clearfix:before {
    content: " ";
    display: table;
}
.clearfix:after {
    content: " ";
    display: table;
    clear: both;
}
.no-select { 
    -webkit-touch-callout: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}
.pr-0 { 
    padding-right: 0 !important;
}
.pl-0 {
    padding-left: 0 !important;
}

@font-face {
    font-family: 'Helvetica Neue Light'; 
    font-style: normal;
    font-weight: normal;
    src: local('../assets/fonts/Helvetica Neue Light'), url('../assets/fonts/HelveticaNeueLTStd Lt.woff') format('woff');
}






